*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: italic;
    font-family: 'Source Sans Pro', sans-serif;
    
}

main{
    margin-top: 10px;
}
.clearfix{
    content: "";
    display: table;
    clear: both;}

.container{
    margin: 15px auto;
    width: 60%;}

.cont-article{
    height: auto;
    margin: auto;
   
   
}


article{
    padding: 10px;
    width: 33%;
    display: inline-block;
}

 figure img{
    height: auto;
    width: 100%;

    

 }
figure{
    position: relative;
}

/*----*/

 .sales {
     position: absolute;
     bottom: 20px;
     left: 0px;
     background-color: red;
     color: white;
     padding: 4px;
     font-size: 10px;
     font-weight: 600;
     
 }

.sostenibile{
    background-color: seagreen;
    position: absolute;
    left: 33px;
    padding: 4px;
    bottom: 0;
}

.heart{
    position: absolute;
    top: 10px;
    right: 0px;
    padding: 5px;
    color: black;
    background-color: white;
    padding: 0px 5px;
}

figure:hover .heart{
    color: red;

}

.text h1{
    font-size: 16px;
}

.text p{
    font-weight: 600;
    font-size: 14px;
}

.red{
    color: red;
}

.salestext{
    color: red;
}

figure:hover #img1{
    content: url('../img/1b.webp');
    cursor: pointer;
    width: 100%;
    display: inline-block;

}

figure:hover #img2{
    content: url('../img/2b.webp');
    cursor: pointer;
    width: 100%;
    display: inline-block;

}

figure:hover #img3{
    content: url('../img/3b.webp');
    cursor: pointer;
    width: 100%;
    display: inline-block;

}

figure:hover #img4{
    content: url('../img/4b.webp');
    cursor: pointer;
    width: 100%;
    display: inline-block;

}

figure:hover #img5{
    content: url('../img/5b.webp');
    cursor: pointer;
    width: 100%;
    display: inline-block;

}

figure:hover #img6{
    content: url('../img/6b.webp');
    cursor: pointer;
    width: 100%;
    display: inline-block;

}


